/*** Colours ***/

$base-cyan: #2acfcf;
$base-cyan-light: #71e2e2;
$base-dark-violet: #3b3054;

$sec-red: #f46262;

$neu-off-white: #eff1f6;
$neu-gray: #bfbfbf;
$neu-grayish-violet: #9e9aa7;
$neu-very-blue: #35323e;
$neu-very-violet: #232127;

/*** App ***/

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  font: inherit;
  font-family: inherit;
  cursor: pointer;
}

.btn-main {
  background-color: $base-cyan;
  color: white;
  padding: 0.6rem;
  border-radius: 1.8rem;
}

.btn-main:hover {
  background-color: $base-cyan-light;
}

/*** Navbar ***/

.main-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: auto;
  margin-top: 2.4rem;

  .nav-left {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 0.6rem;
    }
    .nav-menu-items {
      display: flex;
      align-items: center;
      font-size: 1rem;
      li {
        padding: 1rem;
        color: $neu-gray;
      }
      li:hover {
        color: $neu-very-violet;
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    .auth-items {
      display: flex;
      align-items: center;
      font-size: 1rem;
      li {
        padding: 1rem;
        color: $neu-gray;
      }
      li:hover {
        color: $neu-very-violet;
      }
    }
    button {
      width: 6rem;
    }
  }
  .hamburger-react {
    margin: 2.4rem;
  }

  /** Navbar - Responsive **/

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 0;
    .logo {
      margin-left: 2.4rem;
    }
    .nav-menu-items li {
      display: none;
    }
    .nav-right .auth-items {
      display: none;
    }
    .hamburger-react {
      display: block;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 85%;
    .hamburger-react {
      display: none;
    }
  }
  @media only screen and (min-width: 1024px) {
    width: 75%;
    .hamburger-react {
      display: none;
    }
  }
}

/** Hamburger Menu **/

.menu-window-active {
  height: 29rem;
  transition: ease height 1s;
  margin-top: 3rem;
  overflow: hidden;
}

.menu-window-inactive {
  height: 0;
  overflow: hidden;
  transition: ease height 1s;
}

.menu-window {
  visibility: hidden;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    visibility: visible;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  margin: auto;
  background-color: $base-dark-violet;
  color: white;
  border-radius: 0.6rem;

  font-size: 1.2rem;
  font-weight: 600;

  .btn-main {
    width: 80%;
    padding: none;
    margin: none;
  }
  ul {
    padding: 1.2rem;
  }
  li {
    padding: 1.2rem 0rem;
    text-align: center;
  }
  li:hover {
    color: $base-cyan-light;
  }

  hr {
    margin: 1.5rem 0rem;
    opacity: 50%;
  }
}

/*** Hero ***/

.hero-container {
  margin-bottom: 10rem;
  h1 {
    color: $base-dark-violet;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5rem;
  }
  p {
    color: $neu-grayish-violet;
    font-weight: 500;
    font-size: 1.3rem;
    width: 60%;
    padding: 0.6rem 0;
  }

  /*** Hero - Responsive ***/
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .hero-banner {
      overflow: hidden;
      order: 1;
      width: 140%;
    }
    .hero-text {
      margin-top: 2.5rem;
      order: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 2.7rem;
        line-height: 3rem;
      }
      p {
        width: 90%;
        font-size: 1.2rem;
        margin: 0.6rem 0;
      }
      button {
        margin: 0.2rem 0;
        width: 12rem;
        height: 3.5rem;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-bottom: 10rem;
    .hero-banner {
      width: 100%;
      margin: 3rem 0;
      order: 1;
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      order: 2;
      text-align: center;
      align-items: center;
      width: 100%;
      p {
        margin: 1.2rem;
      }
    }
    button {
      width: 13.2rem;
      height: 3.6rem;
      font-size: 1.3rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    margin-left: 12.5%;
    background-image: url("./assets/illustration-working.svg");
    height: 30rem;
    background-position: 115% 80%;
    background-repeat: no-repeat;
    margin-top: 2rem;

    .hero-text {
      padding-top: 5rem;
      z-index: 2;
      width: 55rem;
      button {
        margin: 2rem 0;
        width: 11rem;
        height: 3.2rem;
        font-size: 1.2rem;
      }
    }
    .hero-banner {
      display: none;
    }
  }
  @media only screen and (min-width: 1560px) {
    background-position: 80% 50%;
  }
}

/** URL Form **/

.url-app-container {
  background-color: $neu-off-white;
  display: flex;
  flex-direction: column;
}
.url-form-container {
  width: 75%;
  margin: auto;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-image: url("./assets/bg-shorten-desktop.svg");
  background-size: cover;
  background-color: $base-dark-violet;

  border-radius: 0.5rem;

  height: 11rem;

  position: absolute;
  transform: translateY(-85%);

  .url-form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-left {
      width: 79%;
      margin-right: 2%;
      input {
        border: none;
        height: 4rem;
        width: 100%;
        border-radius: 0.7rem;

        font-size: 1.2rem;
        color: $neu-grayish-violet;
        padding-left: 1.5rem;
      }
      .input-error {
        border: 3px solid $sec-red;
      }
      input:focus {
        border: 3px solid $base-cyan-light;
        outline: none;
      }
      input::placeholder {
        color: $neu-grayish-violet;
      }
    }
    button {
      border-radius: 0.7rem;
      font-size: 1.2rem;
      font-weight: 700;
      width: 20%;
      height: 4rem;
    }
  }
  .error-message {
    color: $sec-red;
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem;
  }

  /** URL Form - Responsive **/
  @media only screen and (min-width: 768px) {
    .error-message {
      align-self: flex-start;
      margin-top: 0.5rem;
      margin-bottom: -1.5rem;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width: 90%;
    height: 11rem;

    background-image: url("./assets/bg-shorten-mobile.svg");
    background-size: 75%;
    background-position: right top;
    background-repeat: no-repeat;

    .url-form {
      flex-direction: column;
      align-items: center;
      .form-left {
        margin: auto;
        width: 95%;
        margin-bottom: 1rem;
        input {
          width: 100%;
          border-radius: 0.4rem;
          height: 3.5rem;
        }
        .error-message {
          padding: 0.5rem 0;
          margin-bottom: -1rem;
        }
      }
      button {
        height: 3.5rem;
        width: 95%;
        border-radius: 0.4rem;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    width: 90%;
    input {
      height: 3.5rem;
    }
    button {
      height: 3.5rem;
    }
  }
}

/** Saved URLs **/
.url-saved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.5rem;
  margin-bottom: 5rem;

  hr {
    display: none;
  }

  .url-saved {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;

    border-radius: 0.5rem;
    background-color: white;

    font-size: 1.3rem;
    .url-left {
      width: 50%;
      display: flex;
      align-items: center;
      color: $base-dark-violet;
      span {
        width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .url-right {
      display: flex;
      align-items: center;
      button {
        height: 2.5rem;
        width: 6.5rem;
        border-radius: 0.3rem;

        font-size: 0.7em;
        font-weight: 700;
        line-height: 1rem;
        padding: 0rem;
        margin-left: 1.5rem;
      }
      .short-url {
        color: $base-cyan;
        width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .btn-copied {
        background-color: $base-dark-violet;
        width: 6.5rem;
      }
    }
  }

  /** Saved URLs - Responsive **/
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    hr {
      display: block;
      border: none;
      height: 2px;
      color: $neu-off-white;
      background-color: $neu-off-white;
      width: 125%;
      align-self: center;
    }
    .url-saved {
      justify-content: center;
      width: 90%;
      height: 11.5rem;
      flex-direction: column;
      padding: 0 5%;

      .url-left {
        width: 100%;
        margin: 0.6rem 0;
        span {
          width: 95%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .url-right {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5rem;
        .short-url {
          padding: 0.5rem 0;
        }
        button {
          width: 100%;
          height: 3rem;
          margin: 0.5rem 0 1rem 0;
        }
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .url-saved {
      width: 90%;
      .url-left {
        width: 50%;
        span {
          width: 95%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .url-right {
        width: 50%;
        .short-url {
          width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .button {
          width: 50%;
        }
      }
    }
  }
}

/** Features **/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neu-off-white;

  .statistics-container {
    text-align: center;
    h2 {
      font-size: 2.5rem;
      color: $base-dark-violet;
    }
    p {
      font-size: 1.2rem;
      color: $neu-grayish-violet;
      width: 35rem;
      line-height: 2rem;
      padding: 1rem;
    }
  }

  .cards-container {
    display: flex;
    justify-content: center;
    .card {
      background-color: white;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $base-dark-violet;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        padding: 1.5rem;
      }
      h3 {
        color: $base-dark-violet;
      }
      p {
        color: $neu-grayish-violet;
      }
    }
  }

  /** Features - Responsive **/
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .statistics-container {
      width: 100%;
      h2 {
        font-size: 1.8rem;
      }
      p {
        width: 100%;
      }
    }
    .cards-container {
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 4rem;
      .card {
        z-index: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-radius: 0.5rem;
        margin: 3rem auto;

        .icon-wrapper {
          position: relative;
          transform: translateY(-3rem);
        }
        h3 {
          font-size: 1.5rem;
          margin-top: -0.5rem;
        }
        p {
          width: 85%;
          padding: 1rem 0 2rem 0;
          margin: auto;
          font-size: 1rem;
          line-height: 1.8rem;
        }
      }
    }
    .line-deco {
      z-index: 0;
      position: absolute;
      transform: translateY(20rem);
      height: 50rem;
      width: 0px;
      border: 4px solid $base-cyan;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .cards-container {
      flex-direction: column;
      .card {
        z-index: 1;
        text-align: center;
        width: 60%;
        border-radius: 0.5rem;
        margin: 4rem auto;
        .icon-wrapper {
          align-self: center;
          position: relative;
          transform: translateY(-3rem);
        }
        h3 {
          font-size: 1.3rem;
          margin-top: -1rem;
        }
        p {
          width: 80%;
          padding: 1rem 0 2rem 0;
          margin: auto;
          font-size: 1rem;
          line-height: 1.8rem;
        }
      }
    }
    .line-deco {
      z-index: 0;
      position: absolute;
      transform: translateY(20rem);
      height: 50rem;
      width: 0px;
      border: 4px solid $base-cyan;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cards-container {
      width: 75%;
      gap: 2rem;
      margin-top: 5rem;
      margin-bottom: 14rem;
      .card {
        z-index: 2;
        width: 25rem;
        padding: 0 2rem 2rem 2rem;
        .icon-wrapper {
          position: relative;
          transform: translateY(-3rem);
        }
        h3 {
          font-size: 1.35rem;
          margin: -1rem 0 1rem 0;
        }
        p {
          font-size: 0.9rem;
          line-height: 1.6rem;
          margin-bottom: 0.5rem;
        }
      }
      .card:nth-child(2) {
        transform: translateY(3rem);
      }
      .card:nth-child(3) {
        transform: translateY(6rem);
      }
    }
    .line-deco {
      hr {
        z-index: 0;
        position: relative;
        transform: translateY(15.5rem);
        display: block;
        border: none;
        height: 8px;
        color: $base-cyan;
        background-color: $base-cyan;
        width: 30rem;
        align-self: center;
      }
    }
  }
}

/** Call to Action **/

.call-to-action {
  background-image: url("./assets/bg-boost-desktop.svg");
  background-color: $base-dark-violet;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;

  h2 {
    color: white;
    font-size: 2.5rem;
    margin: 2rem auto;
  }
  button {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: center;
    background-size: cover;
    height: 20rem;
    padding: 2rem 0 3rem 0;
    h2 {
      font-size: 1.7rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }
}

/** Footer **/

.footer-container {
  background-color: $neu-very-violet;
  color: $neu-off-white;
  display: flex;
  text-align: center;

  .footer-nav {
    font-size: 1rem;
    .footer-col {
      .footer-nav-item {
        font-weight: 500;
        color: $neu-grayish-violet;
      }
    }
  }
  .socials-container {
    display: flex;
    justify-content: space-around;
  }

  /** Footer - Responsive **/
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    .footer-col-title {
      padding: 1rem;
    }
    .footer-nav-item {
      padding: 0.5rem;
    }
    .socials-container {
      margin: 3rem 0;
      width: 50%;
    }
    .logo {
      margin: 4rem 0 2rem 0;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 3rem 5%;
    justify-content: space-around;
    .logo {
      margin-right: 1rem;
    }
    .footer-nav {
      display: flex;
      justify-content: space-around;
      text-align: left;
      width: 50%;
      gap: 2rem;
      .footer-col {
        width: 33%;
      }
      .footer-col-title {
        margin: 0.5rem 0 0.7rem 0;
      }
      .footer-nav-item {
        padding: 0.3rem 0;
      }
    }
    .socials-container {
      width: 18%;
    }
  }
  @media only screen and (min-width: 1024px) {
    padding: 4rem 12.5%;
    justify-content: space-around;
    .logo {
      margin-right: 15rem;
    }
    .footer-nav {
      display: flex;
      justify-content: space-around;
      text-align: left;
      width: 50%;
      .footer-col {
        width: 33%;
      }
      .footer-col-title {
        margin: 0.5rem 0 1rem 0;
      }
      .footer-nav-item {
        padding: 0.5rem 0;
        a:hover {
          color: $base-cyan;
        }
      }
    }
    .socials-container {
      width: 18%;
      a {
        fill: $neu-off-white;
      }
      a:hover {
        fill: $base-cyan;
      }
    }
  }
}
