/*** Colours ***/

$base-cyan: #2acfcf;
$base-cyan-light: #71e2e2;
$base-dark-violet: #3b3054;

$sec-red: #f46262;

$neu-gray: #bfbfbf;
$neu-grayish-violet: #9e9aa7;
$neu-very-blue: #35323e;
$neu-very-violet: #232127;

/*** App ***/

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  font: inherit;
  font-family: inherit;
  cursor: pointer;
}

.btn-main {
  background-color: $base-cyan;
  color: white;
  padding: 0.6rem;
  border-radius: 1.8rem;
}

.btn-main:hover {
  background-color: $base-cyan-light;
}

/*** Navbar ***/

.main-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: auto;
  margin-top: 2.4rem;

  .nav-left {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 0.6rem;
    }
    .nav-menu-items {
      display: flex;
      align-items: center;
      font-size: 1rem;
      li {
        padding: 1rem;
        color: $neu-gray;
      }
      li:hover {
        color: $neu-very-violet;
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    .auth-items {
      display: flex;
      align-items: center;
      font-size: 1rem;
      li {
        padding: 1rem;
        color: $neu-gray;
      }
      li:hover {
        color: $neu-very-violet;
      }
    }
    button {
      width: 6rem;
    }
  }
  .hamburger-react {
    margin: 2.4rem;
  }

  /** Navbar - Responsive **/

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 0;
    .logo {
      margin-left: 2.4rem;
    }
    .nav-menu-items li {
      display: none;
    }
    .nav-right .auth-items {
      display: none;
    }
    .hamburger-react {
      display: block;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 85%;
    .hamburger-react {
      display: none;
    }
  }
  @media only screen and (min-width: 1024px) {
    width: 75%;
    .hamburger-react {
      display: none;
    }
  }
}

/** Hamburger Menu **/

.menu-window-active {
  height: 29rem;
  transition: ease height 1s;
  margin-top: 3rem;
  overflow: hidden;
}

.menu-window-inactive {
  height: 0;
  overflow: hidden;
  transition: ease height 1s;
}

.menu-window {
  visibility: hidden;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    visibility: visible;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  margin: auto;
  background-color: $base-dark-violet;
  color: white;
  border-radius: 0.6rem;

  font-size: 1.2rem;
  font-weight: 600;

  .btn-main {
    width: 80%;
    padding: none;
    margin: none;
  }
  ul {
    padding: 1.2rem;
  }
  li {
    padding: 1.2rem 0rem;
    text-align: center;
  }
  li:hover {
    color: $base-cyan-light;
  }

  hr {
    margin: 1.5rem 0rem;
    opacity: 50%;
  }
}

/*** Hero ***/

.hero-wrapper {
  h1 {
    color: $base-dark-violet;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5rem;
  }
  p {
    color: $neu-grayish-violet;
    font-weight: 500;
    font-size: 1.3rem;
    width: 60%;
    padding: 0.6rem 0;
  }

  /*** Hero - Responsive ***/
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .hero-banner {
      overflow: hidden;
      order: 1;
      width: 140%;
    }
    .hero-text {
      margin-top: 2.5rem;
      order: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 2.7rem;
        line-height: 3rem;
      }
      p {
        width: 90%;
        font-size: 1.2rem;
        margin: 0.6rem 0;
      }
      button {
        margin: 0.2rem 0;
        width: 12rem;
        height: 3.5rem;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    .hero-banner {
      width: 100%;
      margin: 3rem 0;
      order: 1;
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      order: 2;
      text-align: center;
      align-items: center;
      width: 100%;
      p {
        margin: 1.2rem;
      }
    }
    button {
      width: 13.2rem;
      height: 3.6rem;
      font-size: 1.3rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    margin-left: 12.5%;
    background-image: url("./assets/illustration-working.svg");
    height: 30rem;
    background-position: 115% 80%;
    background-repeat: no-repeat;
    margin-top: 2rem;

    .hero-text {
      padding-top: 5rem;
      z-index: 2;
      width: 55rem;
      button {
        margin: 2rem 0;
        width: 11rem;
        height: 3.2rem;
        font-size: 1.2rem;
      }
    }
    .hero-banner {
      display: none;
    }
  }
  @media only screen and (min-width: 1560px) {
    background-position: 80% 50%;
  }
}

/** URL Form **/
.url-form-wrapper {
  width: 75%;
  margin: auto;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./assets/bg-shorten-desktop.svg");
  background-size: cover;
  background-color: $base-dark-violet;

  border-radius: 0.5rem;

  height: 11rem;

  .url-form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-left {
      width: 79%;
      margin-right: 2%;
      input {
        border: none;
        height: 4rem;
        width: 100%;
        border-radius: 0.7rem;

        font-size: 1.2rem;
        color: $neu-grayish-violet;
        padding-left: 1.5rem;
      }
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      color: $neu-grayish-violet;
    }
    button {
      border-radius: 0.7rem;
      font-size: 1.2rem;
      font-weight: 700;
      width: 20%;
      height: 4rem;
    }
  }
  .error-message {
    color: $sec-red;
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem;
  }
  @media only screen and (min-width: 768px) {
    .error-message {
      align-self: flex-start;
      margin-top: 0.5rem;
      margin-bottom: -1.5rem;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width: 90%;
    height: 11rem;

    background-image: url("./assets/bg-shorten-mobile.svg");
    background-size: cover;
  
    .url-form {
      flex-direction: column;
      align-items: center;
      .form-left {
        margin: auto;
        width: 95%;
        margin-bottom: 1rem;
        input {
          width: 100%;
          border-radius: 0.4rem;
          height: 3.5rem;
        }
        .error-message {
          padding: 0.5rem 0;
          margin-bottom: -1rem;
        }
      }
      button {
        height: 3.5rem;
        width: 95%;
        border-radius: 0.4rem;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    width: 90%;
    input {
      height: 3.5rem;
    }
    button {
      height: 3.5rem;
    }
  }
}

.url-saved-wrapper {
  width: 50%;
  margin: auto;
}

.url-saved {
  display: flex;
  justify-content: space-between;

  .url-right {
    display: flex;
  }
}
